html,
body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	background-color: #f0f0f0;
	box-sizing: border-box;
}

h1 {
	margin: 0 0 20px;
}
a {
	color: dodgerblue;
	text-decoration: none;
}
/* Accordion */
.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
section:not(:last-of-type) {
	border-bottom: 5px solid dodgerblue;
	padding: 30px;
}
section:last-of-type {
	border: none;
	padding: 30px 0 0;
}

.panel-question {
	margin-bottom: 20px;
	background-color: #fff;
}

.panel-heading {
	font-weight: bold;
	padding: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

.panel-body {
	padding: 15px;
}

#btn-collapse {
	margin-bottom: 10px;
	background-color: #999;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	position: absolute;
	right: 8rem;
}

/* End Accodion */

/* dragAndDrop */
.fill {
	background-image: url("https://source.unsplash.com/random/150x150");
	position: relative;
	height: 150px;
	width: 150px;
	top: 5px;
	left: 5px;
	cursor: pointer;
}

.hold {
	border: solid 5px #ccc;
}

.empty {
	display: inline-block;
	height: 160px;
	width: 160px;
	margin: 10px;
	border: solid 3px salmon;
	background: white;
}

.hovered {
	background: #f4f4f4;
	border-style: dashed;
}
/* End dragAndDrop */

/* Full-Screen-Hover */
.full_screen {
	/* max-width: 1500px; */
	margin: 0 auto;
	/* width: 100%; */
}

.full_screen a {
	border-bottom: 2px dashed var(--red);
	position: relative;
}

.full_screen a:hover {
	z-index: 2;
	border-bottom-color: transparent;
	color: var(--red);
}

.full_screen a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	min-height: 30px;
	transform: translate(-50%, -50%) scaleX(0);
	padding: 10px;
	z-index: -1;
	transform-origin: center;
	background: var(--white);
	transition: all 0.3s ease-out;
}

.full_screen a:hover {
	z-index: 2;
	border-bottom-color: transparent;
	color: var(--red);
}

.full_screen a:hover:before {
	transform: translate(-50%, -50%) scaleX(1);
}

.bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* transition: all 0.5s ease-out; */
	animation: bgshow 0.5s ease-in-out;
}

.bg.bg-show {
	display: block;
	opacity: 1;
	z-index: 1;
	transition: all 0.5s ease-out;
}
/* .full_screen a:hover:before {
    transform: translate(-50%, -50%) scaleX(1);
} */

@keyframes bgshow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
