@media (min-width: 501px) and (max-width: 700px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 500px;
  }
  h1 {
    font-size: 2.4375rem;
  }
  .bx-pager div a {
    width: 1.3rem;
    height: 2rem;
  }
  #prev,
  #next {
    border-width: 0.0825rem;
  }
  #next {
    left: 25%;
  }
  #prev {
    left: 75%;
  }

  .video .play {
    top: 83%;
  }
  .svg-inline--fa {
    height: 1.5em;
  }

  .google-map .row {
    padding: 6.334rem 0;
  }
  /* .portfolio-gallery > ul > li {
    top: 9.3375rem !important;
  } */
  .portfolio-gallery ul li {
    height: 28%;
  }
  /* .features li:nth-child(-n+3) {
        margin-bottom: 2.758rem;
    }
    .features li{
        margin-bottom: 2.758rem;
        width: 17.5rem;
    }
    .features li:nth-child(2n+1){
        padding-left: 1.6rem;
    }
    .features-subject .contents {
        padding-right: 0;
    } */

  /* Tablet */ /* Tablet */
  /* Tablet */ /* Tablet */
  /* Tablet */ /* Tablet */
  .arrow {
    font-size: 1rem;
  }
  .svg-inline--fa.fa-w-10 {
    width: 1rem;
  }
  .news {
    /* margin: 0; */
  }

  .news ul li {
    padding: 0 0.9375rem 0 0;
  }
  .news ul li:nth-child(3) {
    padding-right: 0;
  }

  .testmonials ul li {
    /* margin: 0 1.3rem 0; */
    width: 400px !important;
  }

  .grid li .hover_contents {
    padding-top: 3.595rem;
  }

  .features li:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  .features li {
    padding: 0 0.8rem 2.45rem;
    margin: 0 auto;
  }
  .features-subject .contents {
    padding-left: 1.25rem;
    padding-right: 0;
  }
  .input-group-btn {
    vertical-align: top;
  }

  .google-map .row .map-contents h2 {
    color: #fff !important;
    width: 200px !important;
  }
  .google-map .row .map #location_map {
    margin-left: -1.375rem;
    width: 150%;
  }

  .google-map .row .map #rader {
    width: 130%;
    left: -0.22rem;
    top: -25%;
  }

  .google-map .row .map-contents {
    margin-left: 8.5rem;
    color: #fff !important;
    line-height: 2rem;
  }
  footer {
    overflow: hidden;
  }
  footer .links {
    padding-right: 0;
    padding-left: 0;
  }
  .features {
    padding-right: 0;
    padding-left: 0;
  }
  .subscribe form input {
    width: 13.56rem;
  }
  .subscribe form button {
    padding: 0.5375rem 1.5625rem 0.75rem;
  }

  header .nav-con ul li {
    padding-bottom: 2.463rem;
    font-size: 0.923rem;
  }
  header .nav-con ul li a {
    padding: 0.8rem 0 1.18rem 2.0625rem;
  }

  footer .copyright .row .copy-logo {
    margin-left: 0;
  }
  footer .copyright .row .copy-link {
    margin-right: 0;
  }
  .portfolio-gallery > ul {
    margin-bottom: 0;
  }
}
