body {
	box-sizing: border-box;
}
h1 {
	font-size: 20px;
	margin: 0;
	color: #333;
}

.band {
	padding: 20px 0;
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.card {
	background: white;
	text-decoration: none;
	color: rgba(141, 173, 141, 0.55);
	box-shadow: 0 2px 5px rgb(183, 222, 215);
	display: flex;
	min-height: 100%;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	top: 0;
	transition: 0.3s;
}

.card span {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 2em 0 0 0;
}

.card:hover {
	top: -2px;
	box-sizing: 0 4px 5px rgba(0, 0, 0, 2);
}

article {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
}

article p {
	flex: 1;
}

.thumb {
	padding-bottom: 51%;
	background-size: cover;
	background-position: center center;
}

@media screen and (min-width: 500px) {
	.band {
		grid-template-columns: 1fr 1fr;
	}

	.item-1 {
		grid-column: 1/3;
	}
	.card span {
		color: blue;
	}
}

@media screen and (min-width: 850px) {
	.band {
		grid-template-columns: repeat(4, 1fr);
	}

	.card span {
		color: red;
	}
}
